.saveTheDate {
    background-image: url(../../../assets/img/heart.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    .inner {
        bottom: 20%;
        left: 10%;
        position: absolute;
        right: 10%;
        top: 20%;
    }

    h2, p {
        margin: 0;
    }

    h2 {
        font-size: 7vw;
    }

    p {
        font-size: 4vw;
    }
}
