label {
  display: inline-block;
  padding-right: 10px;
  text-align: right;
  width: 125px;
}

input {
  border: 1px solid lightgrey;
  height: 28px;
  font-size: 60%;
  width: 250px;

  &[type="submit"] {
    display: inline-block;
    height: 40px;
    -webkit-appearance: none;
  }
}